@font-face {
    font-family: tisaregular;
    src: url(../fonts/Tisa\ Sans\ Pro\ Regular.ttf);
}
@font-face {
    font-family: tisabold;
    src: url(../fonts/Tisa\ Sans\ Pro\ Bold.ttf);
}
*{
    box-sizing: border-box;
}
body{
    background-color: #eeeeee;
}
/* header */
.divheader{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-image: linear-gradient(to top, #a7a7a7, #6DADDB);
}
.divlogo{
   margin-right: 15px;

}
.imglogo{
    width: 140px;
    height: 125px;
}
.divsearch{
    margin-right: 5px;
}
.inputsearch{
    width: 700px;
    height: 35px;
    border-radius: 10px;
    border: none;
    font-family: tisaregular;
    font-size: 20px;
}
::-webkit-input-placeholder {
    text-align: center;
}
.searchicon{
    cursor: pointer;
}
a{
    text-decoration: none;
}
.divsocialmedia{
    position: absolute;
    cursor: pointer;
    margin-top: 300px;
    margin-left: 90%;
}
.telegramicon, .discordicon, .instagramicon {
    width: 40px;
}

/* nav bar */
.divnav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height: 50px;
    background-image: linear-gradient(#12100E, #2B4162);
}
.navul{
    position: absolute;
}
.navli{
    display: inline-block;
    color: #d8d8d8;
    font-family: tisabold;
    font-size: 20px;
    list-style: none;
    margin-left: 100px;
    cursor: pointer;
    transition: 300ms ease-in-out;
}
.navli:hover{
    transform: scale(1.5);
    color: white;
}
.divnav:hover .navli:not(:hover){
    filter: blur(2px);
}
/* body section 1 */
#f1 {
    margin-top: 140px;
}
#f2{
    margin-top: 240px;
}
#f3{
    margin-top: 210px;
}
.section1{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    border-bottom: 3px solid #293241;
    border-radius: 10px;
}
/* quality box */
.div1section1{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: scroll;
    text-shadow: 5px 10px 10px rgb(167, 163, 155);
    box-shadow: 10px 10px 5px gray;
    cursor: pointer;
    border: 4px solid #3d5a80;
    border-radius: 5px;
    width: 350px;
    height: 400px;
    transition: 400ms ease-in-out;
}

.div1section1:hover{
    transform: scale(1.45);
    color: white;
    background-color: #2B4162;
    border: 2px solid #ee6c4d;
    text-shadow: 0 0 0 white;
    cursor: pointer;
}
.p1{
    font-family: tisabold;
    font-size: 25px;
}
.p2{
    font-family: tisaregular;
    font-size: 25px;

}
/* cost box */
.div2section1{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: scroll;
    cursor: pointer;
    text-shadow: 5px 10px 10px rgb(167, 163, 155);
    box-shadow: 10px 10px 5px gray;
    border: 4px solid #3d5a80;
    border-radius: 5px;
    width: 350px;
    height: 400px;
    transition: 400ms ease-in-out;
}
.div2section1:hover{
    transform: scale(1.45);
    color: white;
    background-color: #2B4162;
    border: 2px solid #ee6c4d;
    text-shadow: 0 0 0 white;
    cursor: pointer;
}
.p3{
    font-family: tisabold;
    font-size: 25px;
}
.p4{
    font-family: tisaregular;
    font-size: 25px;
}
/* fast box */
.div3section1{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow: scroll;
    text-shadow: 5px 10px 10px rgb(167, 163, 155);
    box-shadow: 10px 10px 5px gray;
    border: 4px solid #3d5a80;
    border-radius: 5px;
    cursor: pointer;
    width: 350px;
    height: 400px;
    transition: 400ms ease-in-out;
}
.div3section1:hover{
    transform: scale(1.45);
    color: white;
    background-color: #2B4162;
    border: 2px solid #ee6c4d;
    text-shadow: 0 0 0 white;
    cursor: pointer;
}
.p5{
    font-family: tisabold;
    font-size: 25px;
}
.p6{
    font-family: tisaregular;
    font-size: 25px;
}
.divaside{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    right: 0;
    width: 80px;
    height: 400px;
    background-color: #6882a3;
    margin-left: 0;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
}
.li1 {
    list-style: none;
    margin-top: 55px;
    margin-right: 20px;
    transition: 200ms ease-in-out;
}
.li1:hover{
    scale: 1.2;
}
.li1:target{
    background-color: red;
}
#user{
   color: black;
}
#brief{
    color: black;
}
#heart{
    color: black;
}
.divsection2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.divaside{
    width: 108px;

}
#div1{
    cursor: pointer;
    margin-top: 70px;
    border: 4px solid #3d5a80;
    border-radius: 5px;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div1:target{
    border: 2px solid #ee6c4d;
    height: 300px;
    transition: all 300ms ease-in-out;
}
#div2{
    cursor: pointer;
    margin-top: 70px;
    border: 4px solid #3d5a80;
    border-radius: 5px;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div2:target{
    border: 2px solid #ee6c4d;
    height: 300px;
    transition: all 300ms ease-in-out;
}
#div3{
    cursor: pointer;
    margin-top: 70px;
    border: 4px solid #3d5a80;
    border-radius: 5px;
    width: 350px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#div3:target{
    border: 2px solid #ee6c4d;
    height: 300px;
    transition: all 300ms ease-in-out;
}
.p7, .p9, .p11{
    font-family: tisabold;
    font-size: 40px;
}
.p8, .p10, .p12{
    font-family: tisaregular;
    font-size: 20px;
    display: none;
}
:target {
    background-color: #3f516d;
    width: 300px;
  }
  .section2{
    position: relative;
     height: 500px;
     border-bottom: 3px solid #293241;
     border-top: 3px solid #293241;
     border-radius: 10px;
     margin-top: 125px;
     transition: 1s ease;
 }
.divform{
    background-color: #a7a7a7;
    font-family: tisaregular;
}
.divform:focus-within{
    font-family: tisabold;
}
.instagramicon:fullscreen{
    width: 80px;
}
.hover-menu {
    position: relative;
    overflow: hidden;
    margin: 8px;
    min-width: 340px;
    max-width: 480px;
    max-height: 290px;
    width: 100%;
    background: #000;
    text-align: center;
    box-sizing: border-box;
  }
  
  .hover-menu * {
    box-sizing: border-box;
  }
  
  .hover-menu img {
    position: relative;
    max-width: 100%;
    top: 0;
    right: 0;
    opacity: 1;
    transition: 0.3s ease-in-out;
  }
  
  .hover-menu div {
    position: absolute;
    top: 0;
    left: -120px;
    width: 120px;
    height: 100%;
    padding: 8px 4px;
    background: #a7a7a7;
    transition: 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .hover-menu div a {
    display: block;
    line-height: 2;
    color: white;
    text-decoration: none;
    opacity: 0.8;
    padding: 5px 15px;
    position: relative;
    transition: 0.3s ease-in-out;
  }
  
  .hover-menu div a:hover {
    text-decoration: underline;
  }
  
  .hover-menu:hover img {
    opacity: 0.5;
    right: -120px;
  }
  
  .hover-menu:hover div {
    left: 0;
    opacity: 1;
  }